.vs/
Calculator.XamarinApp/Calculator.XamarinApp/bin/
Calculator.XamarinApp/Calculator.XamarinApp/obj/
Calculator.XamarinApp/Calculator.XamarinApp.Android/bin/
Calculator.XamarinApp/Calculator.XamarinApp.Android/obj/
Calculator.XamarinApp/Calculator.XamarinApp.iOS/bin/
Calculator.XamarinApp/Calculator.XamarinApp.iOS/obj/